// Your custom SCSS should be written here...

@font-face {
    font-family: lintel;
    src: url(lintel.otf) format('opentype');
}

// Colors

$white:#fff;
$grey:#FFCC00;
$darkgrey:#1F1F1F;
$lgblue:#FFE78A;

// Colors end

html, body {
    background: $white;
    overflow-x:hidden;
    color: $darkgrey;
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: lintel, sans-serif;
}

.container {
    padding:0px 20px;
}

.row {
    width:100%;
    max-width:940px;
    min-width:320px;
    margin:0 auto;
}

a {
    color:$darkgrey;
    font-family: lintel, sans-serif;
}
a:hover {
    color:$grey;
}
.btn.default {
    border:none;
}


//CART NAV
#cartnav {
    background: $darkgrey;
    height:54px;
}
#cartnav ul {
    float:right;
}
#cartnav ul li {
    display: inline-block;
    padding-left:20px;
}
#cartnav a {
    color: $white;
}
#cartnav a:hover {
    color:$lgblue;
}
ul {
    list-style:none outside;
}
li {
    padding-top: .9em;
}


//MAIN NAV
.navbar {
    background: $white;
    margin-bottom:12px;
}
.navbar:hover {
    background:$white;
}
.navbar a {
    color:$darkgrey;
}
.navbar a:hover {
    color:$grey;
}
.navbar a:active {
    color:$grey;
}
.navbar ul li > a {
    color:$darkgrey;
    text-shadow:none;
    line-height:50px;
    background: $white;
    padding-right:0;
    padding-left:50px;
    font-size:18px;
}
.navbar ul li {
    height: 52px;
    line-height:normal;
    background: $white;
}
.navbar li {
    float:right;
}
.navbar ul {
    margin-top:40px;
}
.main {
    float:right;
}
.navbar .logo {
    height:auto;
    margin-top:15px;
    line-height:normal;
}

.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a {
  background: $white;
}


#applybanner {
    position:relative;
    width:100%;
    min-height:183px;
    max-height: 480px;
    height:480px;
    background:url(../img/bannerbg03.png) center center no-repeat;
    background-size:cover;
    moz-background-size: cover;
}

#artistbanner {
    position:relative;
    width:100%;
    min-height:183px;
    max-height: 480px;
    height:480px;
    background:url(../img/bannerbg02.png) center center no-repeat;
    background-size:cover;
    moz-background-size: cover;
}

#gallerybanner {
    position:relative;
    width:100%;
    min-height:183px;
    max-height: 480px;
    height:480px;
    background:url(../img/bannerbg01.png) center center no-repeat;
    background-size:cover;
    moz-background-size: cover;
}


#artistbanner .valign {
    height:480px;
}
#gallerybanner .valign {
    height:480px;
}
#applybanner .valign {
    height:480px;
}
.valign {
    display:table;
    width:100%;
    table-layout:fixed;
}
.valign>div {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}
#artistbanner h1, #applybanner h1, #gallerybanner h1 {
    color:$grey;
    font-size:8em;
}
@media only screen and (max-width:769px){
    #artistbanner h1, #applybanner h1, #gallerybanner h1 {
        font-size:5em;
    }
}
.center {
    text-align:center;
}

.container2 {
    padding: 10px 20px;
    padding-bottom:5px;
}
.btn.primary {
    background:$lgblue;
    align:center;
    width:120px;
}
@media only screen and (max-width:769px){
    .container2 p {
        text-align:center;
    }
    .lead {
        text-align:center;
    }
}
.container2 a {
    color:$darkgrey;
}
.container2 a:hover {
    color:$grey;
}

.featuredcontain {
    background:$grey;
}

.footer {
    height:auto;
    padding-top:10px;
    background:$darkgrey;
}
.footer a{
    color:$white;
}
.footer a:hover{
    color:$grey;
}
.container3 {
    padding: 15px 0px;
    padding-bottom:25px;
}
@media only screen and (max-width:769px){
    .container3 {
        padding-left:15px;
        padding-right:15px;
    }
}

#gallerytitle {
    background:$grey;
}
.containerart {
    margin-top:40px;
    margin-bottom:10px;
}
h4 a{
    color:$darkgrey;
}
h4 a:hover{
    color:$grey;
}
h6 a{
    color:$darkgrey;
}
h6 a:hover{
    color:$grey;
}

.image {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    overflow:hidden;
}
.image:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
@media only screen and (max-width:1000px){
    .image {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


.tabs.pill .tab-nav {
    background:$lgblue;
}
.tab-nav > li > a {
    text-shadow: none;
    color: $white;
  background: $darkgrey;
  &:hover {
    background: $lgblue;
  }
  &:active {
    background: $grey;
  }
}
.tab-nav > li.active > a {
    color:$darkgrey;
}
.modal .image {
    height:auto;
}
.btn.toartistpage {
    background:$lgblue;
    align:center;
    width:220px;
}
.btn.addtocart {
    background:$lgblue;
    align:center;
    width:100%;
}

.btn.addart {
    margin-top:12px;
    background:$lgblue;
    align:center;
    width:250px;
}
.containerform {
    margin-top:18px;
}
.modal > #formmodal {
    min-height:10%;
    max-height:20%;
}

.containerevents {
    margin: 30px 0px;
}
.colorevents {
    margin-bottom:10px;
}
.colorevents:nth-child(even) {
    background:$grey;
}

.btndraw.primary {
    width:100%;
    background:$lgblue;
    color:$white;
    text-align:center;
    margin-bottom:5px;
}
.btndraw.primary:hover {
    width:100%;
    background:$darkgrey;
    color:$white;
    text-align:center;
}
.btndraw a {
    color:$darkgrey;
}
.drawer {
    background:$white;
    box-shadow:none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top:5px;
}

.modal > .content {
    width:100%;
    min-height:100%;
    max-height:100%;
    top:0%;
}
#modalimg {
    margin-top:15px;
}

.ahover a:hover {
    color:white;
}

.coloractive {
    color:$grey;
}



//slider stuff
#slidercontainer {
    width:100%;
    height:480px;
    position:relative;
    z-index:1;
}
#slidercontainer .modal.active, #slidercontainer .modal .content.active {
    opacity:1;
}
#slidercontainer .modal.active {
    z-index:3;
}
#slidercontainer .modal {
    width:100%;
    height:480px;
    position:absolute;
    top:0;
    left:0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#slidercontainer .modal>.content.blue {
    background:url(../img/bannerbg01.png) center center no-repeat;
    background-size:cover;
    moz-background-size: cover;
}
#slidercontainer .modal>.content.orange {
    background:url(../img/bannerbg02.png) center center no-repeat;
    background-size:cover;
    moz-background-size: cover;
}
#slidercontainer .modal>.content.pink {
    background:url(../img/bannerbg03.png) center center no-repeat;
    background-size:cover;
    moz-background-size: cover;
}

#slidercontainer .modal>.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition-duration: 0.75s;
    -moz-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

#slidercontainer .tools a.left, #slidercontainer a.tool.left {
    top: 50%;
    margin-top: -10px;
    left: 20px;
}
#slidercontainer .tools.active a, #slidercontainer .modal.active a {
    cursor: pointer;
}
#slidercontainer .tools a, #slidercontainer a.tool {
    cursor: default;
    position: absolute;
    z-index: 9999;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    font-size:24px;
    color:white;
}
.left {
    text-align: left;
}
#slidercontainer .tools a.right, #slidercontainer a.tool.right {
    top: 25%;
    margin-top: -10px;
    right: 20px;
}
.right {
    text-align: right;
}
#slidercontainer .tools a.right2, #slidercontainer a.tool.right2 {
    top: 50%;
    margin-top: -10px;
    right: 20px;
}
.right2 {
    text-align: right;
}
#slidercontainer .tools a.right3, #slidercontainer a.tool.right3 {
    top: 75%;
    margin-top: -10px;
    right: 20px;
}
.right3 {
    text-align: right;
}

.tab-content {
    padding-bottom:0;
}